# lycophron.conf
description "Lycophron service"

start on started networking
stop on runlevel [016]

respawn

#limit nofile 1000000 1000000

console log

script
    export NODE_ENV=production
    export GOOGLE_CLIENT_ID=
    export GOOGLE_CLIENT_SECRET=

    cd /home/ubuntu/lycophron
    node server

end script