# old-lycophron.conf
description "Old lycophron service"

start on started networking
stop on runlevel [016]

respawn

#limit nofile 1000000 1000000

console log

script
    export NODE_ENV=production
    export GOOGLE_CLIENT_ID=596183049204-g9udev1lv2a64if208bf5f1p123sb366.apps.googleusercontent.com
    export GOOGLE_CLIENT_SECRET=B5_bBgOKHDXAO3dW-7Fm_u09

    cd /home/ubuntu/old.lycophron
    node server

end script
