.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px 0 0 16px;
    width: 36px;
}

md-toolbar h1 {
    font-weight: normal;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    padding: 1.5ex 1ex;
    width: 100%;
}

md-radio-group.md-default-theme:focus:not(:empty) {
    border-color: transparent;
}

/* Using Data-URI converted from svg until <md-icon> becomes available*/
/*https://github.com/google/material-design-icons*/

.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat center center;
}

/* Lycophron specific styles */

/* material design override */
.md-button {
    text-transform: none;
}

md-sidenav.md-locked-open {
    width: 12em;
    min-width: 12em;
    max-width: 12em;
}

md-sidenav {
    width: 12em;
    min-width: 12em;
    max-width: 12em;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /*font-weight: lighter;*/

    font-size: 14pt;
}

input {
    font-size: 20pt;
}

.version {
    color: #777;
    font-size: 0.8em;
}

.version .md-button {
    text-align: center;
}

.version-date {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.version-hash {
    font-family: "Lucida Console", Monaco, monospace;
}

.version-hash:hover {
    text-decoration: underline;
}

/* TILES */
.tile {
    height: 6.3ex;
    width: 6.3ex;
    margin: 0.3ex;
    padding: 1.1ex;
    text-transform: lowercase;
}

.tile .letter {
    font-size: 20pt;
}


.tile .value {
    font-size: 11pt;
}

tile-group {
    max-width: 37em;
}

tile-group.uppercase .tile .letter {
    text-transform: uppercase;
    font-size: 18pt;
}


.foundWords {
    min-width: 13em;
    max-width: 13em;
}

.word.newly-found {
    color: #F44336;
    font-weight: bold;
}


.word.already-found {
    font-weight: bold;
}

.word {
    cursor: pointer;
}

.word-not-found {
    /* md-warn */
    color: #F44336;
}

.word-content {
    padding: 0.5ex;
}

.solution {
    width: 22.9ex;
    margin: 0.2ex 0.1ex;
}

.solution-header {
    font-size: 1.1em;
    min-height: 3ex;
}

.solution-header h3 {
    height: 3ex;
}

.selected-word {
    min-height: 3.1ex;
}

.selected-tiles {
    min-height: 7.4ex;
}



.room {
    padding: 1ex;
    margin: 0.5ex;
    min-width: 22.1ex;
}

.room .room-title {
    font-size: 1.2em;
    padding: 1ex 0;
}

.multiplayer-game-header {
    padding: 2ex 0;
}

.multiplayer-game-header .room-title {
    font-size: 1.2em;
    font-weight: bold;
}


.room .room-details {
    font-size: 0.85em;
}

.room .room-id {
    font-size: 0.61em;
}

.room .room-restriction {
    padding: 0.5ex 0;
}

.rooms-header {
    font-size: 1.3em;
    padding: 2ex 0;
    font-weight: bold;
}

/* MOBILE */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
    /* iPhone5 landscape and portrait */
    body {
        font-size: 0.9em;
    }

    .tile {
        height: 5ex;
        width: 5ex;
        margin: 0.3ex;
        padding: 0.8ex;
        text-transform: lowercase;
    }

    .tile .letter {
        font-size: 1.2em;
    }

    .tile .value {
        font-size: 0.6em;
        margin-top: -1ex;
        margin-left: -0.5ex;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    /* iPhone5 portrait */
    .solution {
        width: 40ex;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
    /* iPhone5 landscape */
    .tile {
        height: 6ex;
        width: 6ex;
    }

    .tile .letter {
        font-size: 1.5em;
    }

    .tile .value {
        font-size: 0.8em;
        margin-top: -1ex;
        margin-left: -0.6ex;
    }
}

