<div>
    <div ng-hide="gameIsReady" layout="column" layout-fill layout-align="space-around center">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        <md-label ng-i18next="{{state}}"></md-label>
        <md-label ng-show="longProcess" ng-i18next="mayTakeAFewSeconds"></md-label>
    </div>
    <div ng-show="gameIsReady" layout="column" layout-align="space-around center">
        <!--<div>-->
            <!--TODO: show the game info nicer-->
            <!--{{letters}}-->
            <!--{{solutions.problemId}}-->
            <!--{{solutions.lang}}-->
            <!--{{solutions.typeName}}-->
            <!--{{solutions.solution.length}}-->
        <!--</div>-->

        <tile-group tiles="problemTiles" on-selected="letterSelected"></tile-group>

        <div>{{problemText}}</div>

        <form name="problem" layout-fill ng-submit="removeAllLetters()">
            <md-input-container ng-class="{'md-accent' : message}">
                <label ng-i18next="game.typeWordHere"></label>
                <input autofocus="on" name="typedLetters" ng-model="typedLetters" ng-change="inputChanged()"
                       ng-trim="true">
                <!--<div ng-messages="projectForm.clientName.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
                <!--</div>-->
            </md-input-container>
        </form>

        <section layout="row" layout-fill layout-align="center center">
            <md-button class="md-primary"
                       aria-label="game.clearTiles"
                       ng-disabled="typedLetters.length === 0"
                       ng-i18next="game.clearTiles"
                       ng-click="removeAllLetters()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.showSolutions"
                       ng-i18next="game.showSolutions"
                       ng-click="showSolutions()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.newGame"
                       ng-i18next="game.newGame"
                       ng-click="newGame()"></md-button>
        </section>

        <section ng-if="message">
            <md-subheader class="md-accent" ng-i18next="{{message}}"></md-subheader>
        </section>

        <section ng-if="!message">
            <md-subheader class="md-primary" ng-i18next="game.wordExists"></md-subheader>
        </section>

        <div class="selected-word">{{word}}</div>

        <tile-group class="selected-tiles" tiles="selectedTiles"
                    on-selected="removeAllLetters"></tile-group>

        <tile-group ng-if="showJoker" tiles="jokerTiles" joker="true" on-selected="jokerSelected"></tile-group>


        <md-progress-linear class="md-primary" md-mode="determinate" value="{{percentage}}"></md-progress-linear>
        <!--<md-toolbar class="">-->
        <div class="md-toolbar-tools" layout-align="space-between center">
            <div>{{solutions.lang}}</div>
            <div ng-i18next="dictType.{{solutions.typeName}}"></div>
            <div ng-i18next="game.progress"></div>
            <div>{{foundWords.length}}/{{solutions.solution.length}}</div>
            <div>{{percentage}}%</div>
        </div>
        <!--</md-toolbar>-->

        <!-- WORD LISTS -->

        <div layout="row" layout-wrap layout-align="start start">
            <section class="solution" ng-repeat="key in words" ng-if="words.length - $index - 1">
                <md-toolbar class="md-theme-light">
                    <h3 class="md-toolbar-tools" layout-align="space-between center">
                        <div>{{words.length - $index - 1}}</div>
                        <div>{{key.found.length}}/{{key.allSolutions}}</div>
                        <div>{{key.percentage}}%</div>
                    </h3>
                </md-toolbar>

                <md-content>
                    <md-list>
                        <md-item ng-repeat="word in key.found">
                            <md-item-content>
                                <!--<div class="md-tile-left">-->
                                <!--<img ng-src="{{item.face}}" class="face" alt="{{item.who}}">-->
                                <!--</div>-->
                                <div class="md-tile-content word-content">
                                    <h3 class="word">
                                        {{word}}
                                    </h3>
                                </div>
                            </md-item-content>
                            <!--<md-divider md-inset ng-if="!$last"></md-divider>-->
                        </md-item>

                        <md-item ng-if="!key.found.length" class="md-accent">
                            <md-item-content>
                                <div class="md-tile-content word-content">
                                    <h3 class="word-not-found" ng-i18next="game.notFoundYet"></h3>
                                </div>
                            </md-item-content>
                        </md-item>


                        <md-item ng-if="visibleSolutions" ng-repeat="word in key.solutions">
                            <md-item-content>
                                <!--<div class="md-tile-left">-->
                                <!--<img ng-src="{{item.face}}" class="face" alt="{{item.who}}">-->
                                <!--</div>-->
                                <div class="md-tile-content word-content">
                                    <h3 class="word-not-found">
                                        {{word}}
                                    </h3>
                                    <!--<h4>{{item.who}}</h4>-->
                                    <!--<p>-->
                                    <!--{{word}}-->
                                    <!--</p>-->
                                </div>
                            </md-item-content>
                            <!--<md-divider md-inset ng-if="!$last"></md-divider>-->
                        </md-item>
                    </md-list>
                </md-content>
            </section>
        </div>

        <div layout-align="start start">
            <div ng-i18next="game.allFoundWords"></div>
            <div><span ng-repeat="word in foundWords">{{word}}, </span></div>
        </div>

    </div>

</div>