<div>
    <div ng-hide="gameIsReady" layout="column" layout-fill layout-align="space-around center">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        <md-label ng-i18next="{{state}}"></md-label>
        <md-label ng-show="longProcess" ng-i18next="mayTakeAFewSeconds"></md-label>
    </div>
    <div ng-show="gameIsReady" layout="column" layout-align="space-around center">
        <div>
            TODO: show the game info nicer
            {{letters}}
            {{solutions.problemId}}
            {{solutions.lang}}
            {{solutions.typeName}}
            {{solutions.solution.length}}
        </div>

        <tile-group tiles="problemTiles" on-selected="letterSelected"></tile-group>

        <form name="problem" layout-fill>
            <md-input-container>
                <label ng-i18next="game.typeWordHere"></label>
                <input autofocus="on" name="typedLetters" ng-model="typedLetters" ng-change="inputChanged()">
                <!--<div ng-messages="projectForm.clientName.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
                <!--</div>-->
            </md-input-container>
            <md-button aria-label="game.clearTiles"
                       ng-disabled="typedLetters.length === 0"
                       ng-i18next="game.clearTiles"
                       ng-click="removeAllLetters()"></md-button>
        </form>

        <tile-group tiles="selectedTiles" on-selected="removeAllLetters"></tile-group>

        <tile-group ng-if="showJoker" tiles="jokerTiles" joker="true" on-selected="jokerSelected"></tile-group>
    </div>

</div>