<div layout="row">
    <div ng-hide="gameIsReady" layout="column" layout-fill layout-align="space-around center">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        <md-label ng-i18next="{{state}}"></md-label>
        <md-label ng-show="longProcess" ng-i18next="mayTakeAFewSeconds"></md-label>
    </div>

    <div class="main-panel" ng-show="gameIsReady" layout="column" layout-align="space-around center">
        <tile-group tiles="problemTiles" on-selected="letterSelected" ng-class="{'uppercase': capitalLetters}"></tile-group>

        <div hide-sm>{{problemText}}</div>

        <form hide-sm name="problem" layout-fill ng-submit="checkWord();removeAllLetters();">
            <md-input-container ng-class="{'md-warn' : message}">
                <label ng-i18next="game.typeWordHere"></label>
                <input name="typedLetters" ng-model="typedLetters" ng-change="inputChanged()"
                       ng-trim="true">
                <!--<div ng-messages="projectForm.clientName.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
                <!--</div>-->
            </md-input-container>
        </form>

        <section layout="row" layout-wrap layout-align="center center">
            <md-button class="md-primary"
                       aria-label="game.shuffleProblemTiles"
                       ng-i18next="game.shuffleProblemTiles"
                       ng-click="shuffleProblemTiles()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.sortProblemTiles"
                       ng-i18next="game.sortProblemTiles"
                       ng-click="sortProblemTiles()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.clearTiles"
                       ng-disabled="typedLetters.length === 0"
                       ng-i18next="game.clearTiles"
                       ng-click="removeAllLetters()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.removeLastTile"
                       ng-disabled="typedLetters.length === 0"
                       ng-i18next="game.removeLastTile"
                       ng-click="removeLastLetter()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.checkWord"
                       ng-disabled="typedLetters.length === 0"
                       ng-hide="options.autoCheck"
                       ng-i18next="game.checkWord"
                       ng-click="checkWord()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.showSolutions"
                       ng-i18next="game.showSolutions"
                       ng-hide="options.multiplayer"
                       ng-click="showSolutions()"></md-button>

            <md-button class="md-primary"
                       aria-label="game.newGame"
                       ng-i18next="game.newGame"
                       ng-hide="options.multiplayer"
                       ng-click="newGame()"></md-button>

            <md-checkbox class="md-primary" ng-model="capitalLetters"
                         aria-label="Checkbox capital letters">
                <span ng-i18next="game.capitalLetters"></span>
            </md-checkbox>
        </section>

        <section ng-if="message">
            <md-subheader class="md-warn" ng-i18next="{{message}}"></md-subheader>
        </section>

        <section ng-if="!message">
            <md-subheader class="md-primary" ng-i18next="game.wordExists"></md-subheader>
        </section>

        <div class="selected-word">{{word}} <span ng-if="score.last">(<span
                ng-i18next="[i18next]({count:score.last})game.score"></span>)</span></div>

        <tile-group class="selected-tiles" tiles="selectedTiles"
                    on-selected="removeAllLetters" ng-class="{'uppercase': capitalLetters}"></tile-group>

        <tile-group ng-if="showJoker" tiles="jokerTiles" joker="true" on-selected="jokerSelected" ng-class="{'uppercase': capitalLetters}"></tile-group>


        <md-progress-linear class="md-primary" md-mode="determinate" value="{{percentage}}"></md-progress-linear>

        <div class="md-toolbar-tools" layout-align="space-between center">
            <div ng-if="options.multiplayer">{{options.currentUser.displayName}}</div>
            <div ng-hide="options.multiplayer" hide-sm>{{solutions.lang}}</div>
            <div ng-hide="options.multiplayer" hide-sm ng-i18next="dictType.{{solutions.typeName}}"></div>
            <div ng-hide="options.multiplayer" ng-i18next="game.progress"></div>
            <div ng-hide="options.multiplayer" ng-i18next="[i18next]({count:score.sum})game.score"></div>
            <div>{{foundWords.length}}/{{solutions.solution.length}}</div>
            <div>{{percentage}}%</div>
        </div>

        <div ng-if="options.multiplayer" layout-fill>
            <div ng-repeat="user in options.userWords" layout-fill>
                <!--{{user}}-->
                <md-progress-linear class="md-primary" md-mode="determinate"
                                    value="{{user.percentage}}"></md-progress-linear>

                <div class="md-toolbar-tools" layout-align="space-between center">
                    <div>{{user.name}}</div>
                    <div>{{user.numFoundWords}}/{{user.numSolution}}</div>
                    <div>{{user.percentage}}%</div>
                </div>
            </div>

        </div>

        <!-- FIXME: DUPLICATED SEE BELOW -->
        <div hide-gt-sm ng-show="gameIsReady" layout="column" layout-align="center center" layout-fill>
            <div ng-i18next="game.allFoundWords"></div>
            <div><span
                    class="word"
                    ng-class="{'newly-found': newlyFound && foundWordId === $index, 'already-found': alreadyFound && foundWordId === $index}"
                    ng-repeat="word in foundWords"
                    ng-click="navigateToDefinition(word)">
                {{word}}<span ng-if="!$last">, </span>
                </span>
            </div>
        </div>

        <!-- WORD LISTS -->

        <div layout="row" layout-wrap layout-align="center start">
            <section class="solution" ng-repeat="key in words" ng-if="words.length - $index - 1 && key.allSolutions">
                <md-toolbar class="md-theme-light solution-header"
                            ng-class="{'md-primary': key.percentage < 100, 'md-hue-1': key.percentage >= 100}">
                    <h3 class="md-toolbar-tools" layout-align="space-between center">
                        <div>{{words.length - $index - 1}}</div>
                        <div>{{key.found.length}}/{{key.allSolutions}}</div>
                        <!--<div>{{key.percentage}}%</div>-->
                    </h3>
                </md-toolbar>

                <md-content>
                    <md-progress-linear
                            ng-class="{'md-primary': key.percentage < 100, 'md-hue-1': key.percentage >= 100}"
                            md-mode="determinate" value="{{key.percentage}}"></md-progress-linear>

                    <md-list layout="row" layout-wrap layout-align="start start">
                        <md-item ng-repeat="word in key.found">
                            <md-item-content>
                                <div class="md-tile-content word-content">
                                    <h4 class="word" ng-click="navigateToDefinition(word)">
                                        {{word}}
                                    </h4>
                                </div>
                            </md-item-content>
                        </md-item>

                        <md-item ng-show="!key.found.length" class="md-warn">
                            <md-item-content>
                                <div class="md-tile-content word-content">
                                    <h4 class="word-not-found" ng-i18next="game.notFoundYet"></h4>
                                </div>
                            </md-item-content>
                        </md-item>


                        <md-item ng-if="options.visibleSolutions" ng-repeat="word in key.solutions">
                            <md-item-content>
                                <div class="md-tile-content word-content">
                                    <h4 class="word-not-found word" ng-click="navigateToDefinition(word)">
                                        {{word}}
                                    </h4>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-content>
            </section>
        </div>

    </div>

    <!-- FIXME: DUPLICATED SEE BELOW -->
    <div hide-sm class="foundWords" ng-show="gameIsReady" layout-align="start start">
        <div ng-i18next="game.allFoundWords"></div>
        <span class="word"
              ng-class="{'newly-found': newlyFound && foundWordId === $index, 'already-found': alreadyFound && foundWordId === $index}"
              ng-repeat="word in foundWords"
              ng-click="navigateToDefinition(word)">
            {{word}}<span ng-if="!$last">, </span>
        </span>
    </div>
</div>