<div class="md-primary" layout="column" layout-fill>
    <div layout="row" layout-align="center" layout-margin layout-fill layout-padding>
        <md-button aria-label="English" class="md-primary" ng-click="changeLng('en')">English</md-button>
        <md-button aria-label="Hungarian" class="md-primary" ng-click="changeLng('hu')">Magyar</md-button>
    </div>

    <p ng-i18next="home.welcomeMessage"></p>

    <!--<div layout="row" layout-align="center" layout-margin layout-fill layout-padding>-->
        <!--<md-button aria-label="OldPage" class="md-raised md-warn" href="/old.html" ng-i18next="oldGame"></md-button>-->
    <!--</div>-->
</div>