<section layout="column" layout-align="center center">
    <!--<md-toolbar class="">-->
    <div class="rooms-header">
        <span ng-i18next="multiplayer.rooms"></span>
        <span> ({{rooms.length}})</span>
    </div>
    <!--</md-toolbar>-->

    <div layout="row" layout-wrap layout-align="start start">
        <md-whiteframe class="md-whiteframe-z1 md-padding room" layout="column" ng-repeat="room in rooms">

            <div class="room-title">{{room.title}}</div>
            <div class="room-id">{{room.id}}</div>

            <div class="room-details">
                <div layout="row" layout-align="space-between center">
                    <div ng-i18next="game.owner"></div>
                    <div class="md-primary">{{room.owner.displayName}}</div>
                </div>
                <!--<div layout="row" layout-align="space-between center"><div ng-i18next="game.typeText"></div><div>{{room.gameType}}</div></div>-->

                <div layout="row" layout-align="space-between center">
                    <div>{{room.language.fullName}}</div>
                    <div>[{{room.language.numWords}}]</div>
                </div>

                <div layout="row" layout-align="space-between center">
                    <div ng-i18next="consonantsText"></div>
                    <div> {{room.numConsonants}}</div>
                </div>
                <div layout="row" layout-align="space-between center">
                    <div ng-i18next="vowelsText"></div>
                    <div> {{room.numVowels}}</div>
                </div>
                <div layout="row" layout-align="space-between center">
                    <div ng-i18next="jokersText"></div>
                    <div> {{room.numJokers}}</div>
                </div>

                <div layout="row" layout-align="space-between center">
                    <div ng-i18next="multiplayer.players"></div>
                    <div>{{room.users.length}}</div>
                </div>

            </div>


            <div class="room-restriction">
                <div ng-if="room.allowedUsers.length === 0">
                    <span ng-i18next="multiplayer.publicRoom"></span>
                </div>
                <div ng-if="room.allowedUsers.length !== 0">
                    <span ng-i18next="multiplayer.privateRoom"></span>
                </div>
            </div>

            <div>
                <div layout="row" layout-align="space-between center"><span
                        ng-i18next="multiplayer.roomState"></span><span ng-i18next="{{room.state}}"></span></div>
            </div>

            <!-- FIXME: complicated disabled expression!-->
            <md-button aria-label="Join"
                       ng-disabled="!room.state || room.state !== 'waitingForUsers' || (room.allowedUsers.length > 0 && room.allowedUsers.indexOf(currentUser.id) === -1)"
                       class="md-primary" ng-click="onJoinToRoom(room.id)"><span ng-i18next="multiplayer.join"></span>
            </md-button>

            <!--{{room.allowedUsers}}-->

            <!--{{currentUser}}-->
        </md-whiteframe>
    </div>
</section>
