/* we will either use styles in jsx, or put this into an scss file */
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /*font-weight: lighter;*/

    font-size: 20pt;

    max-width: 56ex;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.header {
    color: #888;
}

.button {
    display: inline-block;
}

.button:hover {
    color: rgb(219, 177, 101);
    cursor: pointer;
    text-decoration: underline;
}

.tile {
    display: inline-flex;
    display: -webkit-inline-flex;
    margin: 0.1ex;
    padding: 0.2ex;
    width: 5ex;
    height: 5ex;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: rgb(227, 204, 97);
    align-items: center;
    -webkit-align-items: center;
}

.tile:hover {
    background-color: rgb(219, 177, 101);
    cursor: pointer;
}

.tile.disabled {
    background-color: rgb(180, 180, 180);
    color: #777;
    cursor: not-allowed;

}

.tile .letter {
    font-size: 28pt;
}

.tile .value {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    font-size: 16pt;
}

.vowels {
    margin: 0.2ex 0;
}

.consonants {
    margin: 0.2ex 0;
}

.letter-placeholder {
    height: 10ex;
    flex: 1;
    -webkit-flex: 1;
}

.pickedTiles {
    padding: 1ex 0;
    min-height: 5ex;
    background-color: #eee;
}

.group {
    margin: 1ex 0;
    background-color: #eee;
}

.group .header {
    color: #222;
    font-weight: bold;
}

.group .header .wordLength {
    width: 2ex;
    display: inline-block;
    text-align: right;
    padding: 0 1ex;
}

.group .header .solutions {
    display: inline-block;
    width: 15ex;
    text-align: center;
}

.group .header .percentage {
    width: 5ex;
    display: inline-block;
    text-align: right;
    padding: 0 1ex;
}

.remainingSolutions {
    color: #9e0000;
    font-weight: bold;
}

.joker-selection.disabled {
    display: none;
}

/* loading spinner */
.loader {
    font-size: 10px;
    margin: 5em auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}